@import "images";
@import "navbar";
@import "maps";
@import "animation";

body {
	background: url("/images/mapback.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  font-family: 'Acme', sans-serif;
  font-size: 2em;
  color: #333333;
  background-color: #ffffff;
}

.inline {
	display: inline-block;
}

.custom-container {
	background: rgba(255, 255, 255, 0.8);
	border: 2px solid black;
	box-shadow: 0 0 12px black;
	border-radius: 15px;
	padding: 15px;
}

.auth-container {
	@extend .custom-container;
	text-align: center;
	padding: 25px;
	margin-top: 200px;
}

.auth-oops {
	font-size: 0.6em;
}

.row-headings, h2 {
	color: white;
	text-shadow: 1px 1px 20px black;
}

.date-picker {
	width: 40px;
}

.row-div {
	@extend .custom-container;
}

.lg-container {
	@extend .custom-container;
	padding: 45px;
	h2, h3 {
		color: black;
		text-shadow: 1px 1px 20px white;
	}
}

.row-lg-container {
	padding: 15px;
}

.reference-input {
	height: 120px;
}

.archive {
	@extend .custom-container;
	display: absolute;
	color: red;
}

.input-group .form-control {
	width: 110px;
}