@import "colors";
@import "images";
@import "navbar";
@import "maps";

body {
	background: url("/images/mapback.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  font-family: 'Acme', sans-serif;
  font-size: 2em;
  color: #333333;
  background-color: #ffffff;
}

.inline {
	display: inline-block;
}

.custom-container {
	background: rgba(255, 255, 255, 0.7);
	border: 2px solid black;
	box-shadow: 0 0 15px black;
	border-radius: 15px;
}

.auth-container {
	@extend .custom-container;
	text-align: center;
	padding: 25px;
	margin-top: 200px;
}

.auth-oops {
	font-size: 0.6em;
}

.row-headings {
	text-decoration: underline;
}

.date-picker {
	width: 40px;
}

.row-div {
	@extend .custom-container;
	padding: 15px;
}

.reference-input {
	height: 120px;
}

.archive {
	display: absolute;
	color: red;
	border: 1px dotted red;
}

.input-group .form-control {
	width: 110px;
}

h2 {
	text-shadow: 1px 1px 1px white, 0 0 1em white, 0 0 0.1em white;
}