@import "colors";
@import "images";
@import "navbar";

// landing

.auth-container {
	border: 2px solid black;
	border-radius: 15px;
	text-align: center;
	padding: 25px;
	margin-top: 200px;
}

.row-headings {
	text-decoration: underline;
}

.date-picker {
	width: 40px;
}