<h3>Bases in {{trip.name}}</h3>

<div class="row row-headings">
	<h2 class="col-sm-4">Base</h2>
	<h2 class="col-sm-3">Start</h2>
	<h2 class="col-sm-3">End</h2>
</div>

<div ng-repeat="base in bases">
	<div class="row">
		<div class="col-sm-4">
      <h3><a ng-href="#!/events/{{base.trip}}/{{base.baseId}}">{{base.name}}</a></h3>
    </div>
    <h4 class="col-sm-3">{{base.start | date: 'shortDate'}}</h4>
    <h4 class="col-sm-3">{{base.end | date: 'shortDate'}}</h4>
    <div class="pull-right col-sm-1">
      <button class="btn btn-sm btn-info edit-btn" ng-click="editing = true">
        <i class="fa fa-pencil"></i>
      </button>
    </div>
    <div ng-show="editing">
      <input ng-model="base.name" type="text" autofocus>
      <div class="pull-right">
		    <p class="input-group date-picker">
	      	<input type="date" class="form-control" uib-datepicker-popup ng-model="base.start" is-open="isOpened0" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" value="base.start"/>
	      	<span class="input-group-btn">
	        <button type="button" class="btn btn-default" ng-click="isOpened0 = !isOpened0">
	          <i class="glyphicon glyphicon-calendar"></i>
	        </button>
	      	</span>
	    	</p>
	    	<p class="input-group date-picker">
	      	<input type="date" class="form-control" uib-datepicker-popup ng-model="base.end" is-open="isOpened1" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" value="base.end"/>
	      	<span class="input-group-btn">
	        <button type="button" class="btn btn-default" ng-click="isOpened1 = !isOpened1">
	          <i class="glyphicon glyphicon-calendar"></i>
	        </button>
	      	</span>
	    	</p>
        <button class="btn btn-sm btn-success" ng-click="editing = false; editBase(base, base.name)">
          <i class="fa fa-save"></i>
        </button>
  		</div>
  	</div>
	</div>
</div>

<div class="col-sm-12">
	<div class="col-sm-2 col-sm-offset-6 btn-right">
	  <h3>
	    <button uib-popover-template="newBasePopover.templateUrl" popover-title="Another Base..." type="button" class="btn btn-default">New Base</button>
	    <script type="text/ng-template" id="newBasePopover.html" class="newPopover">
	      <div class="form-group">
	        <form>
	          <input type="text" placeholder="Base Name" ng-model="newBasePopover.baseName" class="form-control">
				    <p class="input-group date-picker">
			      	<input type="date" class="form-control" uib-datepicker-popup ng-model="newBasePopover.baseStartDate" is-open="isOpened2" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
			      	<span class="input-group-btn">
			        <button type="button" class="btn btn-default" ng-click="isOpened2 = !isOpened2">
			          <i class="glyphicon glyphicon-calendar"></i>
			        </button>
			      	</span>
			    	</p>
	          <p class="input-group date-picker">
			      	<input type="date" class="form-control" uib-datepicker-popup ng-model="newBasePopover.baseEndDate" is-open="isOpened3" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
			      	<span class="input-group-btn">
			        <button type="button" class="btn btn-default" ng-click="isOpened3 = !isOpened3">
			          <i class="glyphicon glyphicon-calendar"></i>
			        </button>
			      	</span>
			    	</p>
	          <button ng-click="makeNewBase()">Submit</button>
	        </form>
	      </div>
	    </script>
	  </h3>
	</div>
</div>