<h2><a ng-href="#!/events/{{eventId}}">{{event.name}}</a></h2>

<div id="map"></div>

<h4 class="">Type: {{event.type}}</h4>
<h4 class="">Average Review: {{event.review}}</h4>
<h4 class="">Start: {{event.start | date: 'short'}}</h4>
<h4 class="">End: {{event.end | date: 'short'}}</h4>
<h4 class="">Address: {{event.address}}</h4>
<h4 class="">Base: {{event.base}}</h4>
<h4 class="">Trip: {{event.trip}}</h4>
<h4 class="">Reference: {{event.ref}}</h4>
<h4 class="">Lat: {{event.latitude}}</h4>
<h4 class="">Long: {{event.longitude}}</h4>

<input type="text" ng-model="userInput"/>
<button class="btn btn-default" ng-click="">Edit Event</button>