<h4 class="archive pull-right" ng-if="trip.archived">ARCHIVE</h4>
<h2 class="h-center">Events in {{trip.name}}</h2>
<div class="h-center">
	<h4 class="row-headings inline">Filter By Base:</h4>
	<select class="inline" ng-model="defaultSelectedBaseId" value="All Bases" placeholder="All Bases" ng-change="setDefaultBaseFilterForEventList(defaultSelectedBaseId)">
		<option value="">All Bases</option>
		<option ng-repeat="base in bases" ng-selected="{{base.baseId}} == {{defaultSelectedBaseId}}" name="basesToFilter" value="{{base.baseId}}">{{base.name}}</option>
	</select><br/>
	<h4 class="row-headings inline">Filter By Type:</h4>
	<select class="inline" ng-model="typeFilter">
		<option name="typesToFilter" value="">All Types</option>
		<option name="typesToFilter" value="Food">Food</option>
		<option name="typesToFilter" value="Site">Site</option>
		<option name="typesToFilter" value="Transit">Transit</option>
		<option name="typesToFilter" value="Lodging">Lodging</option>
	</select>
</div>
<div class="row row-headings">
	<h2 class="col-sm-3">Event</h2>
	<h2 class="col-sm-1">Type</h2>
	<h2 class="col-sm-2">Start</h2>
	<h2 class="col-sm-2">End</h2>
	<h2 class="col-sm-2">Address</h2>
</div>
<div ng-repeat="event in events | filter: {'type' : typeFilter, 'base' : defaultSelectedBaseId} | orderBy: 'start'">
	<div class="row row-div">
		<div class="col-sm-3 vert-center">
      <h3><a ng-href="#!/event/{{event.eventId}}">{{event.name}}</a></h3>
    </div>
    <h4 class="col-sm-1 vert-center"><img class="type-img" ng-src="./images/{{event.type}}.png" alt="No Type!"/></h4>
    <h4 class="col-sm-2 vert-center">{{event.start | date: 'short'}}</h4>
    <h4 class="col-sm-2 vert-center">{{event.end | date: 'short'}}</h4>
    <h4 class="col-sm-2 vert-center">{{event.address}}</h4>
    <h4 class="pull-right col-sm-1 vert-center" ng-show="!trip.archived">
      <button title="Delete Event" class="btn btn-sm btn-danger pull-right" ng-click="deleteEvent(event.eventId)">
      	<i class="fa fa-trash"></i>
      </button>
    </h4>
	</div>
</div>
<a ng-href="#!/search/{{trip.id}}" ng-show="!trip.archived">
	<button title="Click to search for Events" class="btn btn-default pull-right add-new-btn">Search New Event</button>
</a>