<h3>Events in {{trip.name}}</h3>

<h4>Filter By Base:</h4>
<select>
	<option name="base" ng-model="baseIdToFilter">All Bases</option>
	<option ng-repeat="base in bases" name="base" ng-model="baseIdToFilter" value="{{base.baseId}}">{{base.name}}</option>
</select>

<button class="btn btn-default"><a ng-href="#!/search/{{trip.id}}">Search New Event</a></button> 

<div class="row row-headings">
	<h2 class="col-sm-4">Event</h2>
	<h2 class="col-sm-3">Start</h2>
	<h2 class="col-sm-3">End</h2>
</div>

<div ng-repeat="event in events | filter: {'base' : baseIdToFilter} | orderBy:'start'">
	<div class="row row-div">
		<div class="col-sm-4">
      <h3><a ng-href="#!/events/{{event.eventId}}">{{event.name}}</a></h3>
    </div>
    <h4 class="col-sm-3">{{event.start | date: 'short'}}</h4>
    <h4 class="col-sm-3">{{event.end | date: 'short'}}</h4>
    <div class="pull-right col-sm-1">
      <button class="btn btn-sm btn-info edit-btn" ng-href="#">
        <i class="fa fa-pencil"></i>
      </button>
      <button class="btn btn-sm btn-danger" ng-click="deleteEvent(event.eventId)"><i class="fa fa-trash"></i></button>
    </div>
	</div>
</div>