<h2>Map Goes Here</h2>

<h2>Trip Details Here</h2>

<h3><a ng-href="#!/events/{{eventId}}">{{event.name}}</a></h3>
<h4 class="">Type: {{event.type}}</h4>
<h4 class="">Average Review: {{event.review}}</h4>
<h4 class="">Start: {{event.start | date: 'short'}}</h4>
<h4 class="">End: {{event.end | date: 'short'}}</h4>
<h4 class="">Address: {{event.address}}</h4>
<h4 class="">Base: {{event.base}}</h4>
<h4 class="">Trip: {{event.base}}</h4>
<h4 class="">Reference: {{event.ref}}</h4>
<h4 class="">Lat: {{event.latitude}}</h4>
<h4 class="">Long: {{event.longitude}}</h4>