<div class="row">
	<h2 class="inline" ng-show="!editingName">
		<a ng-href="#!/events/{{eventId}}">{{event.name}}</a>
	</h2>
	<input type="text" ng-model="event.name" ng-show="editingName"/>
	<button type="button" class="btn btn-sm btn-primary pull-right inline" ng-show="!editingName" ng-click="editingName = true">
 	 <i class="fa fa-pencil"></i>
	</button>
	<button class="btn btn-sm btn-success pull-right inline" ng-show="editingName" ng-click="editingName = false; editEvent();">
	  <i class="fa fa-save"></i>
	</button>
</div>
<h3>Event in {{trip.name}}</h3>
<div id="map"></div>
<div>
	<div class="row">
		<h3 class="col-sm-4">Map Coordinates:</h3>
		<h4 class="col-sm-8">{{event.latitude}}, {{event.longitude}}</h4>
	</div>
	<div class="row">
		<h3 class="col-sm-4">Type:</h3> 
		<h4 class="col-sm-8" ng-show="!editingType">{{event.type}}</h4>
		<select ng-model="event.type" ng-show="editingType">
			<option name="type" value="Food">Food</option>
			<option name="type" value="Site">Site</option>
			<option name="type" value="Transit">Transit</option>
			<option name="type" value="Lodging">Lodging</option>
		</select>
		<button type="button" class="btn btn-sm btn-primary pull-right inline" ng-show="!editingType" ng-click="editingType = true">
      <i class="fa fa-pencil"></i>
		</button>
    <button class="btn btn-sm btn-success pull-right inline" ng-show="editingType" ng-click="editingType = false; editEvent();">
      <i class="fa fa-save"></i>
    </button>
	</div>
	<div class="row">
		<h3 class="col-sm-4">Average Review:</h3>
		<h4 class="col-sm-8">{{event.review}}</h4>
	</div>
	<div class="row">
		<h3 class="col-sm-4">Start:</h3>
		<h4 class="col-sm-8" ng-show="!editingStart">{{event.start | date: 'short'}}</h4>
		<div ng-show="editingStart">
	    <p class="input-group date-picker" ng-show="editingStart">
	    	<input type="date" class="form-control" uib-datepicker-popup ng-model="event.start" is-open="eventStartEdit" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
	    	<span class="input-group-btn">
		      <button type="button" class="btn btn-default" ng-click="eventStartEdit = !eventStartEdit">
		        <i class="glyphicon glyphicon-calendar"></i>
		      </button>
	    	</span>
	  	</p>
	  	<div class="col-sm-4" uib-timepicker ng-model="event.start" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
  	</div>
		<button type="button" class="btn btn-sm btn-primary pull-right inline" ng-show="!editingStart" ng-click="editingStart = true">
      <i class="fa fa-pencil"></i>
		</button>
    <button class="btn btn-sm btn-success pull-right inline" ng-show="editingStart" ng-click="editingStart = false; editEvent();">
      <i class="fa fa-save"></i>
    </button>
	</div>
	<div class="row">
		<h3 class="col-sm-4">End:</h3>
		<h4 class="col-sm-8" ng-show="!editingEnd">{{event.end | date: 'short'}}</h4>
			<div ng-show="editingEnd">
				<p class="input-group date-picker col-sm-4">
		    	<input type="date" class="form-control" uib-datepicker-popup ng-model="event.end" is-open="eventEndEdit" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
		    	<span class="input-group-btn">
			      <button type="button" class="btn btn-default" ng-click="eventEndEdit = !eventEndEdit">
			        <i class="glyphicon glyphicon-calendar"></i>
			      </button>
		    	</span>
		  	</p>
		  	<div class="col-sm-4" uib-timepicker ng-model="event.end" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
	  	</div>
		<button type="button" class="btn btn-sm btn-primary pull-right inline" ng-show="!editingAddress" ng-click="editingEnd = true">
      <i class="fa fa-pencil"></i>
		</button>
    <button class="btn btn-sm btn-success pull-right inline" ng-show="editingEnd" ng-click="editingEnd = false; editEvent();">
      <i class="fa fa-save"></i>
    </button>
	</div>
	<div class="row">
		<h3 class="col-sm-4">Address:</h3>
		<h4 class="col-sm-8" ng-show="!editingAddress">{{event.address}}</h4>
		<input type="text" ng-model="event.address" ng-show="editingAddress"/>
		<button type="button" class="btn btn-sm btn-primary pull-right inline" ng-show="!editingAddress" ng-click="editingAddress = true">
      <i class="fa fa-pencil"></i>
		</button>
    <button class="btn btn-sm btn-success pull-right inline" ng-show="editingAddress" ng-click="editingAddress = false; editEvent();">
      <i class="fa fa-save"></i>
    </button>
	</div>
	<div class="row">
		<h3 class="col-sm-4">Base:</h3>
		<h4 class="col-sm-8" ng-show="!editingBase">{{currentBase.name}}</h4>
		<select ng-model="event.base" ng-show="editingBase">
			<option ng-repeat="base in bases" name="base" value="{{base.baseId}}">{{base.name}}</option>
		</select>
		<button type="button" class="btn btn-sm btn-primary pull-right inline" ng-show="!editingBase" ng-click="editingBase = true">
      <i class="fa fa-pencil"></i>
		</button>
    <button class="btn btn-sm btn-success pull-right inline" ng-show="editingBase" ng-click="editingBase = false; editEvent();">
      <i class="fa fa-save"></i>
    </button>
	</div>
	<div class="row">
		<h3 class="col-sm-4">Reference:</h3>
		<h4 class="col-sm-8" ng-show="!editingReference">{{event.ref}}</h4>
		<input type="text" ng-model="event.ref" ng-show="editingReference"/>
		<button type="button" class="btn btn-sm btn-primary pull-right inline" ng-show="!editingReference" ng-click="editingReference = true">
			<i class="fa fa-pencil"></i>
		</button>
		<button class="btn btn-sm btn-success pull-right inline" ng-show="editingReference" ng-click="editingReference = false; editEvent();">
      <i class="fa fa-save"></i>
    </button>
	</div>
</div>
<div class="row">
	<button class="btn btn-sm btn-primary pull-right inline" ng-show="!editingName || !editingType || !editingStart || !editingEnd || !editingAddress || !editingBase || !editingReference" ng-click="editEvent(); editingName = true; editingType = true; editingStart = true; editingEnd = true; editingAddress = true; editingBase = true; editingReference = true;">Edit All
  </button>
	<button class="btn btn-sm btn-success pull-right inline" ng-show="editingName || editingType || editingStart || editingEnd || editingAddress || editingBase || editingReference" ng-click="editEvent(); editingName = false; editingType = false; editingStart = false; editingEnd = false; editingAddress = false; editingBase = false; editingReference = false;">Save All Edits
  </button>
  <button class="btn btn-sm btn-danger" ng-click="deleteEvent(event)">Delete Event</i></button>
</div>