<h2>New Event Search in {{trip.name}}</h2>
<div>
	<p class="inline">From This Base:</p>
	<select class="inline" ng-change="setBaseSearchCoordinates()" ng-model="baseCoords">
		<option ng-repeat="base in bases" name="base" value="{{base.latitude}},{{base.longitude}}">{{base.name}}</option>
	</select>
</div>
<input type="text" placeholder="Anything you want" ng-model="userSearchTerms"/>
<button class="btn btn-default" ng-click="searchGooglePlaces(userSearchTerms); searching = true">Search</button> 
<div id="map"></div>
<div uib-alert ng-repeat="alert in alerts" class="col-xs-4 col-xs-offset-4 alert-danger">{{alert.msg}}</div>
<div class="row row-headings" ng-show="searching">
	<h3 class="col-sm-2">Name</h3>
	<h3 class="col-sm-1">Rating</h3>
	<h3 class="col-sm-2">Vicinity</h3>
</div>
<div ng-repeat="searchEvent in searchEvents">
<div class="row row-div">
	<h4 class="col-sm-2">{{searchEvent.name}}</h4>
	<h4 class="col-sm-1">{{searchEvent.rating}}</h4>
	<h4 class="col-sm-3">{{searchEvent.vicinity}}</h4>
	<div>
		<div class="inline col-sm-2">
		  <p class="input-group date-picker">
		  	<input type="date" class="form-control" uib-datepicker-popup ng-model="newEventToSave.start" is-open="isOpened4" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
			</p>
		</div>
		<div class="inline col-sm-2">
		  <p class="input-group date-picker">
		  	<input type="date" class="form-control" uib-datepicker-popup ng-model="newEventToSave.end" is-open="isOpened5" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
			</p>
		</div>
	</div>
	<button class="btn btn-default col-sm-1 inline" ng-click="addToTripEvents(searchEvent)">Add To Trip</button>
</div>