<div class="container col-xs-4 col-xs-offset-4 auth-container">
  <img src="./images/filler_logo.png" alt="logo" />
  <h1>TripEZ</h1>
  <div class="btn-right btn-new-board">
    <div ng-show="!userToLogin && !userToRegister">
      <button title="Welcome back!" ng-click="userWillLogin(); userToLogin = true; userToRegister = false" type="button" class="btn btn-default">I'm Back!
      </button>
      <button title="Time to start your adventure." ng-click="userWillRegister(); userToRegister = true; userToLogin = false" type="button" class="btn btn-default">New Here?
      </button>
    </div>
    <div class="form-group" ng-show="userToLogin">
      <form>
        <label>Welcome Back!</label>
        <input type="email" id="inputEmail" class="form-control form-spacing" placeholder="Email Address" ng-model="auth.email" ng-keyup="$event.keyCode == 13 && loginUser()" required autofocus>
        <input type="password" id="inputPassword" class="form-control form-spacing" placeholder="Password" ng-model="auth.password" ng-keyup="$event.keyCode == 13 && loginUser()" required>
        <button type="button" class="btn btn-default" ng-click="loginUser()">
          <h4>Login</h4>
        </button>
      </form>
    </div>
    <div class="form-group" ng-show="userToRegister">
      <form>
        <label>Please Register</label>
        <input type="email" id="inputEmail" class="form-control form-spacing" placeholder="Email Address" ng-model="auth.email" ng-keyup="$event.keyCode == 13 && registerUser()" required autofocus>
        <input type="password" id="inputPassword" class="form-control form-spacing" placeholder="Password" ng-model="auth.password" ng-keyup="$event.keyCode == 13 && registerUser()" required>
        <button type="button" class="btn btn-default" ng-click="registerUser()">
          <h4>Register</h4>
        </button>
      </form>
    </div>
    <div class="pull-right oops" ng-click="userToLogin = false; userToRegister = false">
      <a href="" ng-show="userToRegister">Back to Login</a>
      <a href="" ng-show="userToLogin">Back to Register</a>
    </div>
  </div>
</div>