<div class="container col-xs-4 col-xs-offset-4 auth-container">

  <h3>TripEZ</h3>
  
  <div class="col-sm-2 col-sm-offset-6 btn-right btn-new-board">
    <h3>
    <button uib-popover-template="auth.templateUrl" popover-title="New here?" type="button" class="btn btn-default">Login
    </button>
    <script type="text/ng-template" id="auth.html">
      <div class="form-group">
        <form>
          <input type="email" id="inputEmail" class="form-control form-spacing" placeholder="Email Address" ng-model="auth.email" ng-keyup="$event.keyCode == 13 && loginUser()" required autofocus>
          <input type="password" id="inputPassword" class="form-control form-spacing" placeholder="Password" ng-model="auth.password" " required autofocus>

          <a class="btn col-xs-12" ng-click="loginUser()">Login</a>
          <a class="btn col-xs-12" ng-click="registerUser()">Register</a>

        </form>
      </div>
    </script>
    </h3>
  </div>
  
</div>