<div class="container col-xs-4 col-xs-offset-4 auth-container">
  <img src="./images/filler_logo.png" alt="logo" />
  <h1>TripEZ</h1>
  <div class="btn-right btn-new-board">
    <div ng-show="!userToLogin && !userToRegister && !userToLoginGoogle">
      <button title="Welcome back!" ng-click="userWillLogin(); userToLogin = true; userToRegister = false; userToLoginGoogle = false" type="button" class="btn btn-default">I'm Back!
      </button>
      <button title="Time to start your adventure." ng-click="clearAuthScope(); userToRegister = true; userToLogin = false; userToLoginGoogle = false" type="button" class="btn btn-default">New Here?
      </button>
      <button title="Time to start your adventure." ng-click="clearAuthScope(); userToRegister = false; userToLogin = false; userToLoginGoogle = true" type="button" class="btn btn-default">Google User?
      </button>
    </div>
    <div class="form-group" ng-show="userToLogin">
      <form>
        <label>Welcome Back!</label>
        <input type="email" id="inputEmail" class="form-control form-spacing" placeholder="Email Address" ng-model="auth.email" ng-keyup="$event.keyCode == 13 && loginUser()" required autofocus>
        <input type="password" id="inputPassword" class="form-control form-spacing" placeholder="Password" ng-model="auth.password" ng-keyup="$event.keyCode == 13 && loginUser()" required>
        <button type="button" class="btn btn-default" ng-click="loginUser()">
          <h4>Login</h4>
        </button>
      </form>
    </div>
    <div class="form-group" ng-show="userToRegister">
      <form>
        <label>Please Register</label>
        <input type="email" id="inputEmail" class="form-control form-spacing" placeholder="Email Address" ng-model="auth.email" ng-keyup="$event.keyCode == 13 && registerUser()" required autofocus>
        <input type="password" id="inputPassword" class="form-control form-spacing" placeholder="Password" ng-model="auth.password" ng-keyup="$event.keyCode == 13 && registerUser()" required>
        <button type="button" class="btn btn-default" ng-click="registerUser()">
          <h4>Register</h4>
        </button>
      </form>
    </div>
    <div class="form-group" ng-show="userToLoginGoogle">
      <form>
        <label>Welcome Google User!</label>
        <input type="email" id="inputEmail" class="form-control form-spacing" placeholder="Email Address" ng-model="auth.email" ng-keyup="$event.keyCode == 13 && loginUserGoogle()" required autofocus>
        <input type="password" id="inputPassword" class="form-control form-spacing" placeholder="Password" ng-model="auth.password" ng-keyup="$event.keyCode == 13 && loginUserGoogle()" required>
        <button type="button" class="btn btn-default" ng-click="loginUserGoogle()">
          <h4>Login</h4>
        </button>
      </form>
    </div>
    <div class="pull-right oops" ng-click="userToLogin = false; userToRegister = false; userToLoginGoogle = false">
      <a href="" ng-show="userToRegister || userToLogin || userToLoginGoogle">Go Back</a>
    </div>
  </div>
</div>