<h4 class="archive pull-right">ARCHIVE</h4>
<h2>Archived Trips</h2>
<div class="row row-headings">
	<h3 class="col-sm-4">Trip</h3>
	<h3 class="col-sm-3">Start</h3>
	<h3 class="col-sm-3">End</h3>
</div>
<div ng-repeat="trip in trips | filter: {'archived' : true} | orderBy:'start'">
	<div class="row row-div">
		<div>
			<div class="col-sm-4">
	      <h3><a ng-href="#!/bases/{{trip.tripId}}">{{trip.name}}</a></h3>
	    </div>
	    <h4 class="col-sm-3" ng-show="!editing">{{trip.start | date: 'shortDate'}}</h4>
	    <h4 class="col-sm-3" ng-show="!editing">{{trip.end | date: 'shortDate'}}</h4>
	    <div class="col-sm-2">
	      <button title="Delete Trip" class="btn btn-sm btn-danger pull-right" ng-click="deleteEntireTrip(trip.tripId)">
	      	<i class="fa fa-trash"></i>
	      </button>
	      <button title="Reactivate Trip" class="btn btn-sm btn-warning edit-btn pull-right" ng-click="reactivateTrip(trip)">
	        <i class="fa fa-unlock"></i>
	      </button>
	    </div>
	  </div>
	</div>
</div>