<h2>Trips Planned</h2>
<div class="row row-headings">
	<h3 class="col-sm-4">Trip</h3>
	<h3 class="col-sm-3">Start</h3>
	<h3 class="col-sm-3">End</h3>
</div>
<div ng-repeat="trip in trips | orderBy:'start'">
	<div class="row row-div">
		<div ng-show="!editing">
			<div class="col-sm-4">
	      <h3><a ng-href="#!/bases/{{trip.tripId}}">{{trip.name}}</a></h3>
	    </div>
	    <h4 class="col-sm-3" ng-show="!editing">{{trip.start | date: 'shortDate'}}</h4>
	    <h4 class="col-sm-3" ng-show="!editing">{{trip.end | date: 'shortDate'}}</h4>
	    <div class="col-sm-2">
	      <button class="btn btn-sm btn-danger pull-right" ng-click="deleteEntireTrip(trip.tripId)">
	      	<i class="fa fa-trash"></i>
	      </button>
	      <button class="btn btn-sm btn-info edit-btn pull-right" ng-click="editing = true">
	        <i class="fa fa-pencil"></i>
	      </button>
	    </div>
	  </div>
	  <div ng-show="editing">
	    <input class="col-sm-4 inline" ng-model="trip.name" type="text" autofocus>
	    <div class="inline">
		    <p class="input-group date-picker col-sm-3">
		    	<input type="date" class="form-control" uib-datepicker-popup ng-model="trip.start" is-open="tripStartEdit" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" value="trip.start"/>
		    	<span class="input-group-btn">
		        <button type="button" class="btn btn-default" ng-click="tripStartEdit = !tripStartEdit">
		          <i class="glyphicon glyphicon-calendar"></i>
		        </button>
		    	</span>
		  	</p>
		  </div>
		  <div class="inline">
		  	<p class="input-group date-picker col-sm-3">
		    	<input type="date" class="form-control" uib-datepicker-popup ng-model="trip.end" is-open="tripEndEdit" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" value="trip.end"/>
		    	<span class="input-group-btn">
		        <button type="button" class="btn btn-default" ng-click="tripEndEdit = !tripEndEdit">
		          <i class="glyphicon glyphicon-calendar"></i>
		        </button>
		    	</span>
		  	</p>
		  </div>
		  <div class="pull-right col-sm-2">
		    <button class="btn btn-sm btn-success col-sm-2 inline pull-right" ng-click="editing = false; editTrip(trip)">
		      <i class="fa fa-save"></i>
		    </button>
		  </div>
		</div>
	</div>
</div>
<div class="row row-div">
	<input id="new-base-input" ng-model="newTrip.name" class="col-sm-4" type="text" placeholder="New Trip Name" autofocus>
	<div class="inline">
	  <p class="input-group date-picker col-sm-3">
	  	<input type="date" class="form-control" uib-datepicker-popup ng-model="newTrip.start" is-open="newTripStartEdit" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
	  	<span class="input-group-btn">
	    <button type="button" class="btn btn-default" ng-click="newTripStartEdit = !newTripStartEdit">
	      <i class="glyphicon glyphicon-calendar"></i>
	    </button>
	  	</span>
		</p>
	</div>
	<div class="inline">
	  <p class="input-group date-picker col-sm-3">
	  	<input type="date" class="form-control" uib-datepicker-popup ng-model="newTrip.end" is-open="newTripEndEdit" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
	  	<span class="input-group-btn">
	    <button type="button" class="btn btn-default" ng-click="newTripEndEdit = !newTripEndEdit">
	      <i class="glyphicon glyphicon-calendar"></i>
	    </button>
	  	</span>
		</p>
	</div>
	<button class="btn btn-default col-sm-2 inline pull-right" ng-click="makeNewTrip(newTrip)">Submit</button>
</div>