<h3>Trips Planned</h3>

<div class="row row-headings">
	<h2 class="col-sm-4">Trip</h2>
	<h2 class="col-sm-3">Start</h2>
	<h2 class="col-sm-3">End</h2>
</div>

<div ng-repeat="trip in trips">
	<div class="row">
		<div class="col-sm-4">
      <h3><a ng-href="#">{{trip.name}}</a></h3>
    </div>
    <h4 class="col-sm-3">{{trip.start}}</h4>
    <h4 class="col-sm-3">{{trip.end}}</h4>
    <div class="pull-right col-sm-1">
      <button class="btn btn-sm btn-info edit-btn" ng-click="editing = true">
        <i class="fa fa-pencil"></i>
      </button>
    </div>
    <div ng-show="editing">
      <input ng-model="trip.name" type="text" autofocus>
      <div class="pull-right">
        <button class="btn btn-sm btn-success" ng-click="editing = false; editTripName(trip, trip.name)">
          <i class="fa fa-save"></i>
        </button>
  		</div>
  	</div>
	</div>
</div>

<div class="col-sm-12">
	<div class="col-sm-2 col-sm-offset-6 btn-right">
	  <h3>
	    <button uib-popover-template="newTripPopover.templateUrl" popover-title="Your Next Adventure..." type="button" class="btn btn-default">New Trip</button>
	    <script type="text/ng-template" id="newTripPopover.html" class="newPopover">
	      <div class="form-group">
	        <form>
	          <input type="text" placeholder="Trip Name" ng-model="newTripPopover.tripName" class="form-control">
	          <input type="text" placeholder="Start Date" ng-model="newTripPopover.tripStartDate" class="form-control" value="5/1/19">
	          <input type="text" placeholder="End Date" ng-model="newTripPopover.tripEndDate" class="form-control" value="6/1/19" ng-keyup="$event.keyCode == 13 && makeNewTrip()">
	          <button ng-click="makeNewTrip()">Submit</button>
	        </form>
	      </div>
	    </script>
	  </h3>
	</div>
</div>